<!-- <i class="bi-alarm"></i> -->
<!-- <third [myInput]="inputVariable"></third> -->
<!-- <favourite [myInput] = "inputVariable"  (myOutput)= "getData($event)"></favourite> -->
<!-- <div *ngIf ="courses.length >0;  else noCourses" >
List of courses
</div>
<ng-template #noCourses>
    No Courses yet
</ng-template> -->
<!-- <contact-form></contact-form>  -->
<registration-form></registration-form>
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<!-- <track-by></track-by> -->
<!-- <input type="text" [(ngModel)]="firstName">
<p>{{ firstName }}</p> -->